.case-card {
  position: relative;
  width: 480px;
  height: 300px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  overflow: hidden;
  transition: transform ease 0.2s;

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }

  .background {
    background-image: url("/img/casestudies/demo.jpg");
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    z-index: -1;
  }

  .title {
      padding-left: 30px;
      padding-top: 30px;
      font-size: 35px;
      font-weight: 600;
      color: white;

      .desc {
           overflow: hidden;
           position: absolute;
           text-overflow: ellipsis;
           padding-left: 200px;
           font-size: 30px;
     }
    }

  .sub {
       padding-left: 30px;
       padding-top: 40px;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
  }

  .tags {
    padding-left: 30px;
    display: flex;
    gap: 5px;
    font-size: 12px;
  }

  .date {
      position: absolute;
      padding-left: 30px;
      font-size: 12px;
    }
}

html[data-theme="dark"] {
  .case-card {
    background-color: #242526;
    border: 1px solid rgba(255, 255, 255, 0.06);
  }
}
